<ion-view title="Recording" ng-controller="GyroReadingsController">
    <ion-content padding="true" class="has-header has-footer">
        <div class="button-bar"></div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a href="#" class="button button-stable button-block" ng-click="push()">start Recording</a>
        <a href="" class="button button-stable button-block" ng-click="view()">View</a>
        <a href="" class="button button-stable button-block" ng-click="stop()">Stop</a>
        
    </ion-content>
</ion-view>